<div class="center" >
    <div class="card" style="width: 30rem;">
      <div class="card-body">
        <h5 class="card-title">Register</h5>
        <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" class="form-control" id="nom">
            <label for="prenom">Prénom</label>
            <input type="text" class="form-control" id="prenom">
            <label for="dates">Date de Naissance</label>
            <input type="date" class="form-control" id="dates">
            <label for="phone">téléphone</label>
            <input type="tel" class="form-control" id="phone">
            <label for="emails">Email address</label>
          <input type="email" class="form-control" id="emails">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password">
          <label for="postal">Code Postal</label>
            <input type="number" class="form-control" id="postal">
            <label for="types">Type de Sang</label>
            <input type="text" class="form-control" id="types">
            <label for="files">Fiche Médicale</label>
            <input type="file" class="form-control" id="files" accept="application/pdf">
        </div><br>
<div style="display: flex;justify-content: space-between;">
    <a class="btn btn-success">Register</a>
<div style="display: flex;">
    <h5>Already have an account ?</h5><h4><a style="text-decoration: none;" routerLink="/login">Register</a></h4>
</div>
</div> 
     </div>
    </div>
  </div>
  