<form [formGroup]="signupForm" (submit)="onSubmit()">
  <div class="form-group">
    <label for="nom">Nom</label>
    <input type="text" class="form-control" id="nom" formControlName="nom">
    <label for="prenom">Prénom</label>
    <input type="text" class="form-control" id="prenom" formControlName="prenom">
    <label for="dates">Date de Naissance</label>
    <input type="date" class="form-control" id="dates" formControlName="dates">
    <label for="phone">téléphone</label>
    <input type="tel" class="form-control" id="phone" formControlName="phone">
    <label for="emails">Email address</label>
    <input type="email" class="form-control" id="emails" formControlName="emails">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" formControlName="password">
    <label for="postal">Code Postal</label>
    <input type="number" class="form-control" id="postal" formControlName="codepostal">
    <label for="types">Type de Sang</label>
    <input type="text" class="form-control" id="types" formControlName="typedesang">
    <label for="files">Fiche Médicale</label>
    <input type="file" class="form-control" id="files" formControlName="files" accept="application/pdf" (change)="onFileChange($event)">
  </div><br>
  <div style="display: flex;justify-content: space-between;">
    <button type="submit" class="btn btn-success">Register</button>
    <div style="display: flex;">
      <h5>Already have an account ?</h5>
      <h4><a style="text-decoration: none;" routerLink="/login">Register</a></h4>
    </div>
  </div>
</form>