<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block text-center">
            <span class="text-white">About Us</span>
            <h1 class="text-capitalize mb-5 text-lg">شكون أحنا؟</h1>
  
            <!-- <ul class="list-inline breadcumb-nav">
              <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
              <li class="list-inline-item"><span class="text-white">/</span></li>
              <li class="list-inline-item"><a href="#" class="text-white-50">About Us</a></li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section about-page">
      <div class="container">
          <div class="row">
              <div class="col-lg-4">
                  <h2 class="title-color">SAVE LIVES BY BLOOD DONNATION !
                  </h2>
              </div>
              <div class="col-lg-8">
                  <h3 class="mt-5 mb-4"> Oour Goals</h3>
                  <div class="divider my-4"></div>
                  <p> Our web application “دم Com” offers a complete solution for:</p>
                      
                      <ul class="list-unstyled department-service">
                          <li><i class="icofont-check mr-2"></i>Improve donor management,</li>
                          <li><i class="icofont-check mr-2"></i>Locate collection centers,</li>
                          <li><i class="icofont-check mr-2"></i>Plan donations and track contributions.</li>
                          
                      </ul>
                  
                      
                        <p> It fills current gaps by providing a seamless user experience while improving blood collection.</p>
                  <!-- <img src="images/about/sign.png" alt="" class="img-fluid"> -->
              </div>
          </div>
      </div>
  </section>
  